<div class="footer-wrapper">
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-grid">
                <div class="footer-logo-section">
                    <div class="footer-logo-container">
                        <a href="/" aria-label="MAAGE" class="footer-logo-link">
                            <img src="/public/img/logos/maage-logo-temp.png" alt="MAAGE Logo" class="footer-logo" />
                            <div class="footer-logo-text">
                                <span class="logo-first">MA</span>
                                <span class="logo-last">AGE</span>
                            </div>
                        </a>
                    </div>
                    <div class="divider"></div>
                    <div class="connect-section">

                        <h4 class="connect-heading">Connect with MAAGE</h4>
                        <div class="social-links">
                            <a href="https://github.com/MAAGE-BRC" aria-label="Github" class="social-link">
                              <i class="fa-brands fa-github fa-2x" style="color: #eeeeee;"></i>
                            </a>
                            <a href="https://www.twitter.com/maage_brc" aria-label="Twitter" class="social-link">
                              <i class="fa-brands fa-twitter fa-2x" style="color: #eeeeee;"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/maage-brc" aria-label="LinkedIn" class="social-link">
                              <i class="fa-brands fa-linkedin fa-2x" style="color: #eeeeee;"></i>
                            </a>
                            <a href="mailto:help@maage-brc.org" aria-label="Email" class="social-link">
                              <i class="fa-solid fa-envelope fa-2x" style="color: #eeeeee;"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer-nav-section">
                    <h3 class="footer-heading">MAAGE</h3>
                    <div class="section-divider divider-maage"></div>
                    <ul class="footer-nav-list">
                        <li class="footer-nav-item">
                            <a href="/about" class="footer-nav-link">About Us</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="/team" class="footer-nav-link">Our Team</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="/advisory-boards" class="footer-nav-link">Advisory Boards</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-nav-section">
                    <h3 class="footer-heading">Resources</h3>
                    <div class="section-divider divider-resources"></div>
                    <ul class="footer-nav-list">
                        <li class="footer-nav-item">
                            <a href="/docs/" class="footer-nav-link">Documentation</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="/reports" class="footer-nav-link">Analysis Reports</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="/publications" class="footer-nav-link">Publications</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-nav-section">
                    <h3 class="footer-heading">Policies</h3>
                    <div class="section-divider divider-policies"></div>
                    <ul class="footer-nav-list">
                        <li class="footer-nav-item">
                            <a href="/privacy-policy" class="footer-nav-link">Privacy Policy</a>
                        </li>
                        <li class="footer-nav-item">
                          <a href="/open-data" class="footer-nav-link">Open Data</a>
                      </li>
                        <li class="footer-nav-item">
                            <a href="/accessibility" class="footer-nav-link">Web Accessibility</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div class="copyright">
        <div class="copyright-content">
            <span class="copyright-text">MAAGE v0.2.6</span>
            <span class="copyright-divider">|</span>
            <a href="/sitemap.xml" class="copyright-link">sitemap</a>
        </div>
    </div>
</div>
